openapi: 3.0.1
info:
  title: apis-functions
  description: APIs from qatranslator-je-func Function App
  version: "1.0"
servers:
  - url: https://qatranslator-je-apim.azure-api.net
paths:
  /en2ja:
    post:
      summary: /en2ja
      operationId: post-en2ja
      responses:
        "200":
          description: Normal Response
        "401":
          description: Invalid token
        "500":
          description: Internal Server Error
  /tests:
    get:
      summary: /tests
      operationId: get-tests
      responses:
        "200":
          description: Normal Response
        "401":
          description: Invalid token
        "500":
          description: Internal Server Error
  /tests/{testId}:
    get:
      summary: /tests/{testId}
      operationId: tests-testid
      parameters:
        - name: testId
          in: path
          description: testId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Normal Response
        "401":
          description: Invalid token
        "404":
          description: Not Found Test
        "500":
          description: Internal Server Error
  /tests/{testId}/questions/{questionNumber}:
    get:
      summary: /tests/{testId}/questions/{questionNumber}
      operationId: tests-testid-questions-questionnumber
      parameters:
        - name: testId
          in: path
          description: testId
          required: true
          schema:
            type: string
        - name: questionNumber
          in: path
          description: questionNumber
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Normal Response
        "400":
          description: "Invalid questionNumber: {questionNumber}"
        "401":
          description: Invalid token
        "404":
          description: Not Found Question
        "500":
          description: Internal Server Error
  /tests/{testId}/questions/{questionNumber}/answer:
    get:
      summary: /tests/{testId}/questions/{questionNumber}/answer
      operationId: tests-testid-questions-questionnumber-answer
      parameters:
        - name: testId
          in: path
          description: testId
          required: true
          schema:
            type: string
        - name: questionNumber
          in: path
          description: questionNumber
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Normal Response
        "400":
          description: "Invalid questionNumber: {questionNumber}"
        "401":
          description: Invalid token
        "404":
          description: Not Found Question
        "500":
          description: Internal Server Error
